.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    // 從.menu-item 獨立出來後給新的class
    // background-position: center;
    // background-size: cover;


    &.large {
        height: 380px;
      }


    //圖片超出畫面框線隱藏
     overflow: hidden;
  
    &:hover {
      cursor: pointer;
      // 滑鼠移動過後，放大圖片 
      & .background-image {
        transform: scale(1.1);
        //慢慢變大  cubic-bezier(x1,y1,x2,y2)
        //https://developer.mozilla.org/en-US/docs/Web/CSS/easing-function
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
  
      & .content {
        opacity: 0.9;
      }
    }
  

  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
  
    //從.menu-item 獨立出來後給新的class
    .background-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  
    .content {
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      //字的顏色出現+透明
      background-color: white;
      opacity: 0.7;
      //內容位置要能在照片中間
      position: absolute;
  
      .title {
        font-weight: bold;
        margin: 0 6px 0;
        font-size: 22px;
        color: #4a4a4a;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }